---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
      <img
        src="https://app.piratepx.com/ship?p=67d07cf8-d340-46cf-8560-6e9b462d1d7e&i=type-level-leetcode"
        aria-hidden="true"
        style="display: none"
      />
    </main>
    <Footer />
  </body>
</html>
